
<table>
  <tr>
    <th>Debit or Credit</th>
    <th>Type</th> 
    <th>Company</th>
    <th>Amount</th>
    <th>Date</th>
  </tr>

  <% @cashboard.transactions.each do |transaction| %>



  <tr class = "<%= 'debit' if transaction.debit_credit == 'Debit' %>">
<td><%= transaction.debit_credit %></td>
<td><%= transaction.type.type %></td>
<td><%= transaction.company.company %></td>
<td>£<%= transaction.amount %>.00</td>
<td><%= transaction.dot.strftime(" %b %d, %Y ") %></td>
</tr>
 
<% end %>
</table>
<div>
<strong>
<tr>
<td>Current Balance:</td>
<td>£<%=@cashboard.balance%>.00</td>
</tr>
</strong>
</div>